.body {
  margin: 0;
  padding: 0;
}.grid-container{
  display: grid;
  margin-left: 10rem;
  position: relative;
  
}
.container{
  display:flex;
  margin: 0;
  padding: 0;
 
}

.column {
  float: left;
  
}
.leschamps{
  display:block;
}
.leschamps>div{
  margin-top: 50px;
}
.Form{
   margin-top: 0rem;
 margin-left:1rem;
   
    
}
.firstline,.secondline{
  display:flex;
}
.Form input {
   
   border-width: thin;
   border-color: lightsteelblue;
    height: 2rem;
    width: 20%;
    margin-right: 0rem;
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
    font-size: small;
    color: gray;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .Form select {
    display: block;
    border: none;
    height: 2rem;
    width:22%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
    font-size: small;
    color: gray;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .Form input:focus {
    outline: none;
    border: none;
  }
  .Form input:hover {
    outline: 0.5px solid #00B4D8;
    -webkit-box-shadow: 2px 2px 9px -2px #00B4D8;
            box-shadow: 2px 2px 9px -2px #00B4D8;
  }
  .Form select:focus {
    outline: none;
    border: none;
  }
  .Form select:hover {
    outline: 0.5px solid #00B4D8;
    -webkit-box-shadow: 2px 2px 9px -2px #00B4D8;
            box-shadow: 2px 2px 9px -2px #00B4D8;
  }
  
  .Form label {
    display:block;
    text-align: center;
    width: 15%;
    margin-left: 0.1rem;
    font-size: small;
    color: gray;
    margin-bottom: 0.5rem;
  }
  
  .Form #sub_butt {
    width: 20%;
    background: #00B4D8;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-left: 20rem;
    margin-top: 1rem;
    border-radius: 10px;
  }
  
  .Form #sub_butt:hover {
    -webkit-box-shadow: 4px 3px 9px -1px gray;
            box-shadow: 4px 3px 9px -1px gray;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
 h2{
  color: gray;
  margin-top: 4rem;

  font-size:smaller;
  
 }


 /* tableau*/

 table {
  margin-top: 4rem;
 
    border-collapse: collapse;
    width:auto;
   
  }
  
  th{
   
    text-align: center;
    padding: 8px;
    font-size: 18px;
    color: white;
    
  
    
  }
  td {
   
    text-align: left;
    padding: 8px;
    font-size: 15px;
    color: gray;
   
    border-bottom: 1px solid #ddd;
   
  }
  
  th {
    background-color: #00B4D8;
  }
  
  td:hover {
    background-color: rgb(205, 235, 253);
  }
  td{
    background-color: rgb(252, 247, 247);
  }
 hr{
  color: #00B4D8;
 }
 .search1{
  margin-top: 1rem;
margin-left: 30rem;
width: 40%;
 }
 h2{
  color: gray;
  font-size: smaller;
  
  
 }