.container{
    display: flex;
    margin-top: 10px;
  }
  .buttons{
    display:flex;
    margin-top: 10%;
    justify-content: space-around;
  }
  .inside{
    display:block;
  }
  .labelll{
    font-size: 120%;
    font-weight: bold;
  }
  .popup-contentt{
    width:35%;
    height:55%;
    background-color: white;
    padding: 0.5rem 1rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px #03045E;
    box-shadow: 0px 0px 15px -10px #03045E;
    top:50%;
    left:50%;
    text-align:center;
    transform: translate(-50%,-50%);
}
.popupp, .overlayy {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlayy {
    background: rgba(49,49,49,0.8);
}
.closee-popup,.nextt-popup {
    margin-top: 45%;
    padding: 10px 15px;
    background-color: #03045E;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px #03045E;
    box-shadow: 0px 0px 15px -10px #03045E;
    border-style: none;
    color:white;
}
.closee-popup:hover,.nextt-popup:hover {
    -webkit-box-shadow: 4px 3px 9px -1px #00B4D8;
            box-shadow: 4px 3px 9px -1px #00B4D8;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
.actionss{
    justify-content: space-around;
    display:flex;
}
 

.content{
    position:relative;
}
.contentt{
 
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -10px #3e4243;
  box-shadow: 0px 0px 15px -10px #292c2c;
}