.Menu{
  margin: 0;
  padding: 0;
}
.sidebar {
  margin: 0;
  padding: 0;
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #00B4D8;
    position: sticky;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px #90E0EF;
    box-shadow: 0px 0px 15px -10px #90E0EF;
  }
  .sidebarWrapper {
    padding: 20px;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    
  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarTitle h2 {
top:10rem;
left:5.7rem;
margin-bottom: auto;
position: fixed;

    font-size:20px;
    color: rgb(255, 255, 255);
  }
  
  .sidebarList {
    margin-top: 2rem;
    list-style: none;
    padding: 5px;
  }
  
  .sidebarListItem1 {
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  

  .sidebarListItem1:hover {
    background-color: white;
    color: #00B4D8;
    
  }
  
  .sidebarIcon{
      margin-right: 5px;
      font-size: 20px !important;
      color: rgb(255, 255, 255);
  }
  .sidebarIcon:hover{
    color: #00B4D8;
  }
  