.main-login {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
  
   
  }
  
  .main-login .login-contain {
    height: 75vh;
    width: 70%;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(236, 236, 236, 0.4)));
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(236, 236, 236, 0.4));
    border-radius: 1rem;
    margin: 5rem auto;
    -webkit-box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
            box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .main-login .login-contain .link {
    text-decoration: underline;
    color: #828282;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
   margin-left: 18rem;
   margin-bottom: 1rem;
   
  }
  
  .main-login .login-contain .link:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    color: #00B4D8;
  }
  
  .main-login .login-contain .left-side, .main-login .login-contain .right-side {
    margin: 2rem 2rem;
    -webkit-box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
            box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
    height: 90%;
    width: 100%;
  }
  
  .main-login .login-contain .left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .main-login .login-contain .left-side .img-class {
   height: 10%; 
  }
  
  .main-login .login-contain .left-side .img-class #img-id {
    
    margin-left: 12rem;
  }
  
  .main-login .login-contain .left-side input {
    display: block;
    border: none;
    height: 2rem;
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
    font-size: small;
    color: gray;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .main-login .login-contain .left-side input:focus {
    outline: none;
    border: none;
  }
  
  .main-login .login-contain .left-side input:hover {
    outline: 0.5px solid #00B4D8;
    -webkit-box-shadow: 2px 2px 9px -2px #00B4D8;
            box-shadow: 2px 2px 9px -2px #00B4D8;
  }
  
  .main-login .login-contain .left-side label {
    display: block;
    text-align: left;
    width: 78%;
    margin: auto;
    font-size: small;
    color: gray;
    margin-bottom: 0.5rem;
  }
  
  .main-login .login-contain .left-side #sub_butt {
    width: 80%;
    background: #00B4D8;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-left: 2.8rem;
    margin-top: 1rem;
  }
  
  .main-login .login-contain .left-side #sub_butt:hover {
    -webkit-box-shadow: 4px 3px 9px -1px gray;
            box-shadow: 4px 3px 9px -1px gray;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  
  .main-login .login-contain .right-side .welcomeNote h3 {
    margin-left: 1rem;
    color: black;
    float: left;
    margin-bottom: 2.5rem;
  }
 
    
    
  
  .left-side .Title h3{
   margin-top: -200px;
   margin-left: 3.9rem;
   color: gray;
   padding:auto;
  
 
 }
  
  .main-login .login-contain .right-side .welcomeImg {
      margin-top: 7rem;
    height: 50%;
    width: 150%;
    margin-left: 2.7rem;
    /*margin: 0rem auto;*/
  }
  
  .main-login .login-contain .right-side .welcomeImg #wel-img-id {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }