.main-login {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
  
   
  }
  
  .main-login .login-contain {
    height: 75vh;
    width: 70%;
  background-color: #ffffff;
    border-radius: 1rem;
    margin: 5rem auto;
    -webkit-box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
            box-shadow: 0.5rem 0.5rem 2rem -1rem #3a3939;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .main-login .login-contain .link {
    text-decoration: underline;
    color: #828282;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
   margin-left: 15rem;
   margin-bottom: 1rem;
   font-size: smaller;
   
  }
  
  .main-login .login-contain .link:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    color: #00B4D8;
  }
  
.main-login .login-contain .left-side {
    margin: 2rem 2rem;
    -webkit-box-shadow: 0.5rem 0.5rem 2rem -1rem #00B4D8;
            box-shadow: 0.5rem 0.5rem 2rem -1rem #00B4D8;
            background-color: #fdfdfd;
    height: 90%;
    width: 100%;
    border-radius: 10px;
  }
  .main-login .login-contain .right-side {
    margin: 2rem 2rem;
    -webkit-box-shadow: 0.5rem 0.5rem 2rem -1rem #00B4D8;
            box-shadow: 0.5rem 0.5rem 2rem -1rem #00B4D8;
            background-color: #00B4D8;
    height: 90%;
    width: 100%;
    border-radius: 10px;
  }  
  .main-login .login-contain .left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .main-login .login-contain .left-side .img-class {
   margin: 0;
    padding: 0;
    height: 4rem; 
  }
  
  .main-login .login-contain .left-side .img-class #img-id {
    height: 100%;
    width: auto;
    margin-left: 9.5rem;
    margin-top: 0.5rem;

     -o-object-fit: contain;
        object-fit: contain;
 
  }
  
  .main-login .login-contain .left-side input {
    display: block;
    border: none;
    height: 2rem;
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;
    font-size: small;
    color: gray;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .main-login .login-contain .left-side input:focus {
    outline: none;
    border: none;
  }
  
  .main-login .login-contain .left-side input:hover {
    outline: 0.5px solid #00B4D8;
    -webkit-box-shadow: 2px 2px 9px -2px #00B4D8;
            box-shadow: 2px 2px 9px -2px #00B4D8;
  }
  
  .main-login .login-contain .left-side label {
    display: block;
    text-align: left;
    width: 78%;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: small;
    color: gray;
    margin-bottom: 0.5rem;
  }
  
  .main-login .login-contain .left-side #sub_butt {
    width: 50%;
    background: #00B4D8;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-left: 5.5rem;
    margin-top: 1rem;
    border-radius: 10px;
  }
  
  .main-login .login-contain .left-side #sub_butt:hover {
    -webkit-box-shadow: 4px 3px 9px -1px gray;
            box-shadow: 4px 3px 9px -1px gray;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  
  .main-login .login-contain .right-side .welcomeNote h3 {
    margin-left: 1rem;
    color: black;
    float: left;
    margin-bottom: 2.5rem;
  }
 
    
    
  
  .left-side .Title h2{
   margin-top: 1rem;
   margin-left: 5rem;
   color: gray;
  font-size: smaller;
  text-decoration: none;
  
 
 }
  
  .main-login .login-contain .right-side .welcomeImg {
      margin-top: 0rem;
    height: 100%;
    width: 70%;
    margin-left: 4.2rem;
    /*margin: 0rem auto;*/
  }
  
  .main-login .login-contain .right-side .welcomeImg #wel-img-id {
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }