body{
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(236, 236, 236, 0.4)));
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(236, 236, 236, 0.4));
    height: 100%;
    width: 100%;
    
  
}
.content{
    position: relative;
    
}
#wel-id {
 
 
 height: 100%;
-o-object-fit: cover;
   object-fit: cover;
   position: fixed;
   z-index: 0;
}
#id2{
  height: auto;
  width: auto;
  margin-top: 7rem;
  margin-left: 40rem;
  -o-object-fit: cover;
   object-fit: cover;
   position: fixed;
   z-index: 1;
}
h3{
  position:fixed;
  top:55%;
  left: 2.5%;
  color:#03045E;
  font-weight: bold;
}

   #btn{
       
     justify-content: center;
        width: 20%;
        background: #00B4D8;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        padding: 0.5rem 1rem;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        margin-left: 6rem;
        position:fixed;
        top:70%;
        left:1%
       
      }
      #btn a{
          color: white;
          text-decoration: none;
          font-weight: bold;
      }
      
       #btn:hover {
        -webkit-box-shadow: 4px 3px 9px -1px #03045E;
                box-shadow: 4px 3px 9px -1px #03045E;
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
      }

      #btnn{
       
        justify-content: center;
           width: 20%;
           background: #00B4D8;
           color: white;
           border: none;
           cursor: pointer;
           padding: 0.5rem 1rem;
           -webkit-transition: all 0.2s ease;
           transition: all 0.2s ease;
           margin-left: 35rem;
           margin-top: 100px;
           position: absolute;
           top:50%;
           left:1%
          
         }
         #btnn a{
             color: white;
             text-decoration: none;
         }
         
          #btnn:hover {
           -webkit-box-shadow: 4px 3px 9px -1px gray;
                   box-shadow: 4px 3px 9px -1px gray;
           -webkit-transform: translateY(-5px);
                   transform: translateY(-5px);
         }
      
   h1{
    position: absolute;
    top:30%;
    left:35%;
    color: white;
    padding:auto;
    
    
   
   }